/Proteins_ROs_alphaSubUnits/
/out_proteins/
/aligned/
/out_pro_combined/
/test-hmmer/
RieskeDB.hmm
Rieske_DB_For_HMMER.sto
/out_sequences/
/blast_result/
/output_pfam/
elink.dtd
HMM_info.txt
# Byte-compiled / optimized / DLL files
__pycache__/