/Proteins_ROs_alphaSubUnits/
/out_proteins/
/aligned/
/out_pro_combined/
/test-hmmer/
RieskeDB.hmm
Rieske_DB_For_HMMER.sto
/out_sequences/
/blast_result/
/output_pfam/
elink.dtd
HMM_info.txt
# Byte-compiled / optimized / DLL files
__pycache__/
.env
/gbk_files/
/blast_results_temp/
/out_Relative_Info/
/out_Relative_InfoAll/
/blast_db/
/test-hmmer/
combined_pfam.fasta
part_pfam.fasta
pframPart.out
parsed_results.csv
pfamPart.out
protein_matchin_with_taxonomy.tsv
protein-matching-PF00355.tsv
